<div ng-include=" 'tpl/include/header.html' "></div>

<div class="alert alert-info">
    <form  ng-hide="succMsg || errMsg">
        <div class="form-group">
            <label for="user_name">收货人：</label>
            <input class="form-control" id="user_name" type="text" ng-model="order.user_name"/>
        </div>
        <div class="form-group">
            <label>性别：</label>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="sex" value="1"  ng-model="order.sex"/>男
                </label>
            </div>
            <div class="radio-inline">
                <label>
                    <input type="radio" name="sex" value="2" ng-model="order.sex"/>女
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="user_name">电话号码：</label>
            <input class="form-control" id="phone" type="text"  ng-model="order.phone"/>
        </div>
        <div class="form-group">
            <label for="user_name">送餐地址：</label>
            <textarea class="form-control" id="addr"  ng-model="order.addr"></textarea>
        </div>

        <input ng-click="submitOrder()" class="btn btn-success btn-block" type="button" value="提交订单"/>

    </form>
    <div class="alert alert-danger" ng-show="errMsg">{{errMsg}}</div>
    <div class="alert alert-success"  ng-show="succMsg">{{succMsg}}</div>
</div>

<div ng-include=" 'tpl/include/footer.html' "></div>